@font-face {
	font-family: FiraCode;
	src: url(FiraCode.ttf);
}

* {
	font-family: FiraCode;
	font-size: 16px;
	color: white;
}

body {
	margin: 0px;
}

html, body, #console {
	height: 100%;
}

#console {
	display: flex;
	flex-direction: column;
}

#calc {
	resize: none;
	background: black;
	border: none;
	outline: none;
}

#log {
	padding: 2px;
	background: #001D32;
	flex: 1;
	position: relative;
	overflow: auto;
	overflow-wrap: break-word;
}