@font-face {
	font-family: FiraMono;
	src: url(FiraMono.ttf);
}

* {
	font-family: FiraMono, Courier;
	font-size: 16px;
	color: white;
}

body {
	margin: 0px;
}

html, body, #console {
	height: 100%;
}

#console {
	display: flex;
	flex-direction: column;
}

#calcbox {
	display: flex;
	background: black;
	border: none;
	outline: none;
	border-top: 1px solid white;
}

#calc-header {
	float: left;
	padding: 2px;
	padding-right: 0px;
}

#calc {
	resize: none;
	background: black;
	border: none;
	outline: none;
	padding: 2px;
	padding-left: 0px;
	flex-grow: 1;
}

#log {
	padding: 2px;
	background: #001D32;
	flex: 1;
	position: relative;
	overflow: auto;
	overflow-wrap: break-word;
}